/* hours wasted on stupid dropdown bug: 3 */

.subject-dropdown-button {
	display: block;
	width: 100%;
	height: 100%;
}

.subject-button-container {
	
}

.subject-dropdown {
	display: block;
	margin: 0;
}

.subject-specs {
	position: relative;
}

@media (max-width: 480px) {
}